

/* 부트스트랩의 사용으로 기존에 작성한 코드가 필요없어짐
 * 부트스트랩으로 표현할 수 없는 스타일을 위해 사용할 것이므로
 * 파일 자체를 삭제하지 말고 내용만 삭제
 */


/* textarea {
    width:100%;
}

input[type=submit] {
  margin-top:10px;
} */

.comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}


/*

.page-item.disabled .page-lin {
  height: 100%
}

.page-item:first-child {
  height: 100%
} */
